<!DOCTYPE html>

<div id="container-exp">
	<div id="trial">
		<p>
			Please answer the following questions about yourself:
		</p>


		<br>
		<br>
		<div class="textboxArea">
			<p>
				How old are you (in years)?  Please use numbers.
			</p>
			<input type="text" name="Q1"><br>
		</div>


		<br>
		<br>
		<div class="radioArea">
			<p>
				What is your gender?
			</p>
			<input type="radio" name="Q2" value="male">Male<br>
			<input type="radio" name="Q2" value="female">Female<br>
			<input type="radio" name="Q2" value="other">Other<br>
			<input type="radio" name="Q2" value="noanswer">Prefer not to answer<br>
		</div>

    <br/>
    <br/>
    <div class="radioArea">
      <p>
        Do you experience any visual impairments commonly identified as "color blindness"?
      </p>
      <input type="radio" name="Q3" value="protoanomaly">Yes, red-weak/protoanomaly<br/>
      <input type="radio" name="Q3" value="protanopia">Yes, red-blind/protanopia<br/>
      <input type="radio" name="Q3" value="deuteranomaly">Yes, green-weak/deuteranomaly<br/>
      <input type="radio" name="Q3" value="deuteranopia">Yes, green-blind/deuteranopia<br/>
      <input type="radio" name="Q3" value="tritanomaly">Yes, blue-weak/tritanomaly<br/>
      <input type="radio" name="Q3" value="tritanopia">Yes, blue-blind/tritanopia<br/>
      <input type="radio" name="Q3" value="other">Yes, other<br/>
      <input type="radio" name="Q3" value="no">No<br/>
      <input type="radio" name="Q3" value="prefer not to answer">Prefer not to answer<br/>
    </div>

		<br>
		<br>
		<div class="checkboxArea">
			<p>
				What is your race (check all that apply)?
			</p>
			<input type="checkbox" name="Q4" value="White/Caucasian">White<br>
			<input type="checkbox" name="Q4" value="Hispanic">Hispanic<br>
			<input type="checkbox" name="Q4" value="Black or African American">Black or African American<br>
			<input type="checkbox" name="Q4" value="American Indian or Alaska Native">American Indian or Alaska Native<br>
			<input type="checkbox" name="Q4" value="Asian">Asian<br>
			<input type="checkbox" name="Q4" value="Native Hawaiian or Pacific Islander">Native Hawaiian or Pacific Islander<br>
			<input type="checkbox" name="Q4" value="Other">Other<br>
			<input type="checkbox" name="Q4" value="Prefer not to answer">Prefer not to answer<br>
		</div>


		<br>
		<br>
		<div class="checkboxArea">
			<p>
				Which region of the US have you lived in (check all that apply)?
			</p>
			<input type="checkbox" name="Q5" value="Northeast">Northeast<br>
			<input type="checkbox" name="Q5" value="Midwest">Midwest<br>
			<input type="checkbox" name="Q5" value="South">South<br>
			<input type="checkbox" name="Q5" value="West">West<br>
			<input type="checkbox" name="Q5" value="Prefer not to answer">Prefer not to answer<br>
		</div>


		<br>
		<br>
		<button id="next">Next</button>
	</div>
</div>
