<!-- <div class="title">
<h1>MacGyver - Go to green square</h1></div> -->
<div class="gameContainer">
    <!-- <canvas id="gameCanvas" onmousemove="mouseMove(event)" onmouseout="mouseOut()" onkeydown="keyDown()"></canvas> -->
    <canvas id="gameCanvas"></canvas>
</div>

<div class="puzzlescript-goal">
    Goal: get to the green square.
    <div style="background: green; width: 25px; height: 25px; display: inline-block; "/>
</div>

<div class="puzzlescript-controls">Controls:
<ul>
    <li>Press the <b>arrow keys</b> to move.</li>
    <li>(If nothing happens when you press they arrow keys, click in the <b>black region of the game screen</b>.)</li>
    <li>Press <b>CTRL+Z</b> to undo your last move.</li>
    <li>Press <b>CTRL+R</b> to restart the level.</li>
</ul>

<p> You will automatically progress if time runs out.  </p>

</div>
<!-- Let's get rid of this for now...
<div class="puzzlescript-legend">Legend:
<ul class="legend-list">
    <li class="legend-item legend-target"><img src="/static/images/legend-target.png" /><span class="legend-name">Target</span></li>
    <li class="legend-item legend-door"><img src="/static/images/legend-door.png" /><span class="legend-name">Door</span></li>
    <li class="legend-item legend-key"><img src="/static/images/legend-key.png" /><span class="legend-name">Key</span></li>
    <li class="legend-item legend-crate"><img src="/static/images/legend-crate.png" /><span class="legend-name">Crate</span></li>
    <li class="legend-item legend-fire"><img src="/static/images/legend-fire.png" /><span class="legend-name">Fire</span></li>
    <li class="legend-item legend-water"><img src="/static/images/legend-water.png" /><span class="legend-name">Water</span></li>
    <li class="legend-item legend-pit"><img src="/static/images/legend-pit.png" /><span class="legend-name">Pit</span></li>
    <li class="legend-item legend-stick"><img src="/static/images/legend-stick.png" /><span class="legend-name">Stick</span></li>
    <li class="legend-item legend-button"><img src="/static/images/legend-button.png" /><span class="legend-name">Button</span></li>
    <li class="legend-item legend-gate"><img src="/static/images/legend-gate.png" /><span class="legend-name">Gate</span></li>
</ul>
-->
</div>
<!-- Let's get rid of this timer as well... -->
 <div class="timer-container">Time remaining: <div class="countdown-timer"></div> seconds</div>
<!-- <div class="footer"> <span id="errormessage" style="color:red;"></span> <a href="http://www.puzzlescript.net">www.puzzlescript.net</a> </div> -->
