<div id="container-exp">
	<div id="trial">


		<br>
		<br>
		<div class="radioArea">
			<p>
				How good are you at puzzle games?
			</p>
			<input type="radio" name="Q1" value="10">10 - Very good<br>
			<input type="radio" name="Q1" value="9">9<br>
			<input type="radio" name="Q1" value="8">8<br>
			<input type="radio" name="Q1" value="7">7<br>
			<input type="radio" name="Q1" value="6">6<br>
			<input type="radio" name="Q1" value="5">5 - Moderately good<br>
			<input type="radio" name="Q1" value="4">4<br>
			<input type="radio" name="Q1" value="3">3<br>
			<input type="radio" name="Q1" value="2">2<br>
			<input type="radio" name="Q1" value="1">1<br>
			<input type="radio" name="Q1" value="0">0 - Not good<br>
		</div>

		<br>
		<br>
		<button id="next">Next</button>
	</div>
</div>
