<div id="container-exp">
	<div id="trial">
    <div>
        <p>The video below is of a level that you have not seen or played before. It is being played by someone else. Please answer the following questions based on this video.</p>
        <p><b>NOTE: The video will loop, so you can watch it multiple times while answering questions.</b></p>
    </div>
    <div>
        <img src="/static/images/story-recording.gif" style="width: 600px;"/>
    </div>

		<br>
		<br>
		<div class="textboxArea">
			<p>
				Now, imagine a real or fantasy world that corresponds to the puzzle above, and all the puzzles you played earlier. Please describe the same solution as you described in the previous question, step-by-step, in terms of this world.
			</p>
      <textarea type="textarea" rows="10" cols="50" name="Q1"></textarea>
		</div>

		<br>
		<br>
		<button id="next">Next</button>
	</div>
</div>
