<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>Thank you for completing the study!  You will be compensated $1.00 for completion of the study.  If you have any further questions, email hristudy@gmail.com. </p>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>